spring:
  application:
    name: AssesmentJava
  
  datasource:
    url: jdbc:postgresql://localhost:5432/assesment_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        
  flyway:
    enabled: true
    baseline-on-migrate: true
